<h1>Listing recipe_tags</h1>

<table>
  <tr>
    <th>Recipe</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipe_tags.each do |recipe_tag| %>
  <tr>
    <td><%= recipe_tag.recipe %></td>
    <td><%= recipe_tag.tag %></td>
    <td><%= link_to 'Show', recipe_tag %></td>
    <td><%= link_to 'Edit', edit_recipe_tag_path(recipe_tag) %></td>
    <td><%= link_to 'Destroy', recipe_tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe tag', new_recipe_tag_path %>
