<%= form_tag search_results_path, :method => "post" do %>

  <div class="field">
    <%= label_tag 'Name' %><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag 'Gericht' %><br />
    <%= text_field_tag :dish %>
  </div>

  <div class="actions">
    <%= submit_tag 'Suchen' %>
  </div>
<% end %>