 <%= mininav(["Zutaten", (link_to "Kategorien", ingredient_categories_path)] +
              getCategory(@ingredient) + [@ingredient.name]) %>

<b>Name:</b>
<%= @ingredient.name %>


<p>
  <b>Description:</b>
  <%= @ingredient.description %>
</p>

<p>
  <b>Ingredient category:</b>
  <%= IngredientCategory.find(@ingredient.ingredient_category_id).name %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %>