<table border="1">
  <tr>
    <td>Zutat Kategorie</td>
    <td>Zutat</td>
    <td>Gericht</td>
    <td>Rezept</td>
  </tr>
  <tr>
    <td><%= link_to "New", new_ingredient_category_path %></td>
    <td><%= link_to "New", new_ingredient_path %></td>
    <td><%= link_to "New", new_dish_path %></td>
    <td><%= link_to "New", new_recipe_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Edit", edit_ingredient_category_path(IngredientCategory.last) %></td>
    <td><%= link_to "Edit", edit_ingredient_path(Ingredient.first) %></td>
    <td><%= link_to "Edit", edit_dish_path(Dish.first) %></td>
    <td><%= link_to "Edit", edit_recipe_path(Recipe.first) %></td>
  </tr>
  <tr>
    <td><%= link_to 'Delete', IngredientCategory.last, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to "Delete", Ingredient.last, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to "Delete", home_path %></td>
    <td><%= link_to "Delete", home_path %></td>
  </tr>
</table>