<h1>Listing ingredient_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredient_categories.each do |ingredient_category| %>
  <tr>
    <td><%= ingredient_category.name %></td>
    <td><%= ingredient_category.parent_id %></td>
    <td><%= ingredient_category.level %></td>
    <td><%= link_to 'Show', ingredient_category %></td>
    <td><%= link_to 'Edit', edit_ingredient_category_path(ingredient_category) %></td>
    <td><%= link_to 'Destroy', ingredient_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredient category', new_ingredient_category_path %>
